*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgColor: #F0F4F8;
    --componentColor: #FFFAFA;
    --darkBlue: #102A43;
}
body{
    display: flex;
    padding: 2rem;
    width: 100svw;
    height: 100%;
    gap: 3rem;
    background-color: var(--bgColor);
    overflow-x: hidden;
}

main{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 80%;
    height: auto;
}
article{
    width: 100%;
    padding: 2em 1em;
    background-color: var(--componentColor);
    border-radius: 10px;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}


table{
    border-collapse: collapse;
    width: 100%;
}
thead th{
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #102A43;
    color: var(--componentColor);
}


tr:nth-child(even){
    background-color: #BCCCDC;
}

tr th{
    text-align: center;
}

tbody tr{
    height: 10svh;
    width: 10svw;
    padding: 2rem;
}

td{
    text-align: center;
}

td img{
    max-width: 600px;
    height: 100%;
}

.img-container{

    height: 15svh;
    width: 100%;
}


@media only screen and (max-width: 1059){

}